.main-container {
  height: 100vh;
  width: 100vw;
}

.img-background {
  //   position: absolute;
  margin-top: 10vh;
  height: 65vh;
  background-size: contain;
  width: 100%;
  background-image: url("../img/webdev5_animated.svg");
  background-repeat: no-repeat;

}


// .img-background {
//   //   position: absolute;
//   margin-top: 10vh;
//   height: 65vh;
//   background-size: cover;
//   width: 100%;
//   background-image: url("../img/webdev3.svg");
//   // z-index: -1;

//   .path {
//     stroke-dasharray: 20;
//   }
// }



.greet-title {
  margin-left: 20vw;

  .home-title {
    font-size: 12rem;
    font-weight: bold;

    span {
      font-size: 12rem;
    }
  }
}

.transition-container {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  height: 5vh;

  .transition-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .transition-text {
      color: #c6c6c6;
    }
  }
}
