.projects-main-container {
  height: 100vh;
  background-image: url("../img/PROJECTS.svg");
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 25%;

  .projects-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20%;

    #project-picture1 {
      height: 100%;
      width: 100%;
      background-size: cover;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    #project-picture2 {
      height: 350px;
      width: 350px;
      background-image: url("../img/petsit.png");
      background-size: cover;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    #project-picture3 {
      height: 350px;
      width: 350px;
      background-image: url("../img/topit.png");
      background-size: cover;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    .project {
      display: flex;
      flex-direction: column;
      width: 20vw;
      text-align: center;

      .project-title {
        margin-top: 4vh;
        text-transform: uppercase;
        font-size: 1.5rem;
      }

      .project-details {
        margin-top: 2vh;
      }

      .links-section {
        display: flex;
        justify-content: space-evenly;
        margin-top: 3vh;

        .project-links {
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: bold;
          color: rgb(255, 188, 2);
        }
      }
    }
  }

  .transition-section {
    margin-top: 13vh;
  }
}
