.projects-main-container {
  height: 60vh;
  background-image: url("../img/PROJECTS.svg");
  background-size: cover;
  z-index: -1;

  .projects-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%;

    #project-picture1 {
      height: 350px;
      width: 350px;
      background-image: url("../img/spaceExplorer.png");
      background-size: cover;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    #project-picture2 {
      height: 350px;
      width: 350px;
      background-image: url("../img/petsit.png");
      background-size: cover;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    #project-picture3 {
      height: 350px;
      width: 350px;
      background-image: url("../img/topit.png");
      background-size: cover;
      transition: all 0.1s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .transition-section {
      margin-top: 13vh;
  }
}
