@import "styles/variables";
@import "styles/home";
@import "styles/about";
@import "styles/navbar";
@import "styles/projects";
@import "styles/contact";

* {
  margin: 0;
  padding: 0;
  // font-size: 16px;
  color: white;
}

.App {
  background-image: linear-gradient(
    to top right,
    $primaryColor,
    $secondaryColor
  );
}

span {
  color: $accentColor;
  @include accentuation();
}

.transition-text {
  color: #c6c6c6;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 4px;

  background: linear-gradient(
    90deg,
    rgb(161, 161, 161),
    rgb(255, 255, 255),
    rgb(161, 161, 161)
  );
  background-size: 80%;
  animation: animate 5s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);

  @keyframes animate {
    0% {
      background-position: -600%;
    }
    100% {
      background-position: 600%;
    }
  }
}

.slide-top {
  margin-top: 30px;
  animation: slide-top 1.5s infinite alternate-reverse both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
